<div class="project-details">
    <div class="row">
        <% if (details && details.length > 0) { %>
            <% details.forEach(function(detail, index) { %>
                <div class="col-12 col-md-6">
                    <div class="card mb-4">
                        <img src="../img/<%- detail.image %>" alt="" class="card-img-top project-image">
                        <div class="card-body">
                            <div class="project-title">
                                <h5 class="card-title"><%- detail.name %></h5>
                            </div>
                            <div class="project-category">
                                <p class="card-text"><i class="bi bi-tag"></i> <%- detail.category %></p>
                            </div>
                            <div class="project-instruction">
                                <h6 class="card-subtitle mb-2 text-muted">Instruction</h6>
                                <p class="card-text"><%- detail.description %></p>
                                <a href="#" class="btn btn-success">Go To Repository</a>
                            </div>

                            <div class="project-stack">
                                <h4>Stack</h4>
                                <ul class="list-group list-group-flush">
                                    
                                        <% detail.stack.forEach(function(stack, index) { %>
                                            <li class="list-group-item stack-item"><%= stack %></li>
                                        <% }) %>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>
</div>
