<section class="categories section">
    <div class="container">
        <div class="category-header">
            <div class="category-title">
                <h3 class="sub-heading">
                    GDSC
                </h3>
                <h1 class="heading">category</h1>
            </div>

            <div class="filter-btns">
                <button class="filter-btn" data-filter="all">
                    All
                </button>
                <button class="filter-btn" data-filter=".cloud">Cloud</button>
                <button class="filter-btn" data-filter=".web">Web</button>
                <button class="filter-btn" data-filter=".android">Android</button>
                <button class="filter-btn" data-filter=".data">Data Science</button>
                <button class="filter-btn" data-filter=".cp">CP</button>
                <button class="filter-btn" data-filter=".aiml">AIML</button>
                <button class="filter-btn" data-filter=".cs">Cyber Security</button>
                <button class="filter-btn" data-filter=".iot">IOT</button>
            </div>
        </div>

        <div class="category-gallery">
            <% if(categories != ""){ %>
                <%  categories.forEach(function(category, index) { %>
                    <div class="mix cat-card <%= category.class %>">
                        <div class="cat-image">
                            <img src="../img/<%- category.image %>" alt="image">
                            <div class="cat-overlay">
                                <a href="/<%- category.route %>" class="cat-icon" style="--i:0.15s" target="_blank">
                                    <i class="uil uil-link-h"></i>
                                </a>
                            </div>
                        </div>
                        <div class="cat-desc">
                            <h3><%- category.name %></h3>
                            <a href="/<%- category.route %>" class="btn secondary-btn" target="_blank">Explore</a>
                        </div>
                    </div>
                <% }) %>
            <% } %>

            

            
        </div>
    </div>
</section>